{% extends 'meetups/base.html' %}

{% load static %}

{% block page_title %} Meetup Details {% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/meetup-details.css' %}"/>
{% endblock %}

{% block heading_main %}
    {% if error %}
        No such meetup found. {{ meetup.title }}
    {% else %}
        {{ meetup.title }}
    {% endif %}
{% endblock %}

{% block heading_extra %}{% endblock %}

{% block body %}
    {% if not error %}
            <article>
                <img id="main-image" src="{{ meetup.image.url }}" alt="meetup image">
                <section id="location">
                    <h2>Meetup Location</h2>
                    <address>This meetup takes place in <span>{{meetup.location.name}}</span>, {{meetup.location.address}}</address>
                </section>
                <section id="details">
                    <h2>Meetup Description</h2>
                    <p>{{meetup.description}}</p>
                    <footer>
                        <p><a href="mailto:{{ meetup.organiser_email }}">Contact Us</a> for more details </p>
                    </footer>
                </section>
                <section id="registration">
                    <h2>Register for this meetup !!</h2>
                    <form action="{% url 'meetup-details' meetup.slug %}" method="POST">
                        {% csrf_token %}
                        <ul>
                            {{ reg_form }}
                        </ul>
                        <div id="registration-actions">
                            <button>Register</button>
                        </div>
                    </form>
                </section>
            </article>
    {% endif %}
{% endblock %}

