<li class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <img src="{{ data.image.url }}" alt="meetup-image">
            </div>
            <div class="meetup-details">
                <h3>{{ data.title }}</h3>
                <address>{{data.location}}</address>
            </div>
        </div>
        <div class="meetup-actions">
            <a href="{% url 'meetup-detail' data.slug %}" class="btn">More Details</a>
        </div>
    </article>
</li>